<div>
    <h2>Business Transactions</h2>

    <p>Below is an e-commerce inventory management simulation. Click the buttons below to add or remove products.</p>

    <table class="table table-condensed table-striped products">
        <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Product Name
            </th>
            <th>
                Inventory Count
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="product in products">
            <td>
                &nbsp;
            </td>
            <td>
                <input type="text" ng-model="product.name" />
            </td>
            <td>
                <input type="number" ng-model="product.stock" />
            </td>
            <td>
                <button type="button" ng-click="product.save()" ng-disabled="product.loading" class="btn btn-sm btn-primary" alt="Save">
                    <span class="glyphicon glyphicon-ok"></span> Save Product
                </button>
                <button type="button" ng-click="product.save(true)" ng-disabled="product.loading" class="btn btn-sm btn-success" alt="Save">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Buy Product
                </button>
                <button type="button" ng-click="product.delete()" ng-disabled="product.loading" class="btn btn-sm btn-danger" alt="Delete">
                    <span class="glyphicon glyphicon-trash"></span> Delete Product
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="alert-info">
            <td class="product-id">
                Add New
            </td>
            <td>
                <input type="text" ng-model="newProduct.newName" />
            </td>
            <td>
                <input type="number" ng-model="newProduct.newStock" />
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-primary" ng-click="addNew()" ng-disable="loadingNew"><span class="glyphicon glyphicon-plus"></span> Save New Product</button>
            </td>
        </tr>
        </tfoot>
    </table>

    <p>Observe the resulting app activity and business transactions in your AppDynamics Controller.</p>
</div>