<div>
    <h2>Welcome to the AppDynamics Sample App</h2>

    <p>This simple single-page web application sends requests to a Node HTTP server, which connects to an Apache Tomcat backend server, which in turn connects to a MySQL database.</p>

    <p>Please follow these steps to view app activity in your AppDynamics Controller:</p>

    <ol>
        <li>
            In your AppDynamics Controller, navigate to the <strong>Applications</strong> tab:</br>
            <img src="img/screenshots/applications.png" />
        </li>
        <li>Find and click the link for the <strong>AppDynamics Sample App.</strong></li>
        <li>Allow up to three minutes for new app activity to be received and processed.</li>
        <li>
            After data processing, you should see the application flowmap:<br/>
            <img src="img/screenshots/flowmap.png" />
        </li>
    </ol>
</div>
